<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentrame</title>
</head>
<body>

    <!-- Informacion acerca del usuario-->
    <div class="user-data">
        <h2>Datos del cliente</h2>
        <ul>
            <li>IP del cliente: <b><%= dataUser.ip %></b></li>
            <li>Ciudad del cliente: <b><%= dataUser.city %></b></li>
            <li>Region del cliente: <b><%= dataUser.region %></b></li>
            <li>Pais del cliente: <b><%= dataUser.country %></b></li>
        </ul>
    </div>

    <div class="ip-data">
        
        <!-- Formulario para buscar un direccion IP -->
        <form action="/search-ip" method="post" id="form">
            <label for="ip">Buscar IP:</label>
            <input type="text" name="ip" id="ip" placeholder="Escribe una IP" required>
            <button type="submit">Buscar</button>
        </form>

        <!-- Valida si hay informacion sobre la IP buscada -->
        <% if (dataIP) { %>

            <!-- Informacion de la IP buscada -->
            <div>
                <ul>
                    <li>IP: <b><%= dataIP.ip %></b></li>
                    <li>Ciudad de la IP: <b><%= dataIP.city %></b></li>
                    <li>Region de la IP: <b><%= dataIP.region %></b></li>
                    <li>Pais de la IP: <b><%= dataIP.country %></b></li>
                </ul>
                <a target="_blank" href="https://www.google.com/maps/place/<%= dataIP.loc %>">Ver direccion en Google Maps</a>
            </div>
        <% } %>

    </div>
</body>
</html>